
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");




/*Global css*/
body{
  font-family:  Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.hide {
  display: none;
}

.page {
  height: 100vh;
  width: auto;
  font-family: Oswald, Helvetica;
}

  .page--about{
    margin-top: -50px;
    background-color: white;
    text-align: center;
  }
    .page--about .jumbotron{
      background: white;
    }

    #about .jumbotron h1{
      opacity: 0;
    }

    .page--about .intro{
      font-family: Helvetica;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
      border-top: solid 2px;
      border-radius: 20px;

    }
    .page--about .intro p{
      display: none;
      margin-top: 5px;
      background-color: rgba(239,239,239, .6);
      border-radius: 20px;
    }

    #about a span {
      margin-top: -60px;
    }

  .page--work{
    background-color: #66B9BF;
    padding: 10px;
  }

  .page--contact{
    background-color: #fffffe;
    padding: 10px;
  }

  #work-title{
    text-align: center;
  }
  #work .boxes li{
    list-style-type: none;
    margin-top: 20px;
  }

    .boxes .box{
      height: 200px;
      width: 200px;
      text-align: center;
      background-color: #EFEFEF;
      overflow: hidden;
      border: solid #F5F5F5;
      border-radius: 5px;
    }

    .box .description{
      font-family: Helvetica;
      height: 150px;
      width: 150px;
      text-align: center;
      display: none;
      position: absolute;
      margin-top: 30px;
    }

    #react-box .description p{
      display: inline-block;
      width: 150px;
      margin-left: 30px;
    }

    .box .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .box img{
      height: 50%;
      width: auto;
      vertical-align: middle;
    }


  #contact .container{

    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px){
    .glyphicon.glyphicon-circle-arrow-down{
      font-size: 30px;
    }

    #contact form input,
    #contact form textarea{
      max-width: 600px;
    }
    #contact form textarea{
      min-height:200px;
    }

  }

  @media(max-width: 480px){
    #about,
    #about .jumbotron h1
    {
      margin-top: -10px;
    }

    #about .fa.fa-cog.fa-spin.fa-2x.fa-fw{
      margin-top: -8px;
    }
    #about .my-2{
      margin-top: 2px;
    }

    #about .intro{
      margin-top: 10px;
    }
    #about .intro p{
      font-size: 16px;

    }
    #contact .container{
      width: 100%;
    }

    #work .boxes-container{
      margin-top: 20px;
      margin-left: -65px;
    }
    #work .boxes {
      /*margin-top: -10px;*/
    }
    #work ul {
      /*text-align: center;*/
      display: table;
      width: 100vw;
      margin-top: -10px;
      margin-left: -15px;
    }
    #work .boxes li{
      /*margin-left: 0%;*/
      margin-top: 0px;
    }
    .boxes .box{
      height: 100px;
      width: 391px;
      text-align: center;
      background-color: #EFEFEF;
      overflow: hidden;

    }

    .box .description{
      font-family: Helvetica;
      height: 100px;
      width: 80%;
      /*text-align: center;*/
      display: none;
      /*position: absolute;*/
      margin-top: 12px;
      margin-left: -30px;

    }

    #react-box .description p{
      display: inline-block;
      width: 100vw;
      margin-left: 30px;
    }

    /*
    #react-box .description p{
      display: inline-block;
      width: 75px;
      margin-left: 30px;
    }

    .box .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .box img{
      height: 50%;
      width: auto;
      vertical-align: middle;
    }*/

    #home .glyphicon.glyphicon-circle-arrow-down{
      font-size: 30px;
      margin-top: -65px;
    }

    #contact.container{
      margin-top: 100px;
    }
  }

  .show{
    display: inline;
    /*position: relative;*/
  }

  .magictime-slow{
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
  }

  .magictime-slower{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
  }

  .tinLeftInMain {
    animation-name: tinLeftInMain;
  }
  @keyframes tinLeftInMain {
    0% {
      opacity: 0;
      transform: scale(1, 1) translateX(-900%);
    }

    90% {
      opacity: 1;
      transform: scale(1.1, 1.1) translateX(0);
    }

    /*60%, 80%, 100% {
      opacity: 1;
      transform: scale(1, 1) translateX(0);
    }*/
  }

  .tinRightInMain {
    animation-name: tinRightInMain;
  }
  @keyframes tinRightInMain {
    0% {
      opacity: 0;
      transform: scale(1, 1) translateX(900%);
    }

    90% {
      opacity: 1;
      transform: scale(1.1, 1.1) translateX(0);
    }
/*
    60%, 80%, 100% {
      opacity: 1;
      transform: scale(1, 1) translateX(0);
    }*/
  }
