
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");

body{
  font-family:  Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.page {
  height: 100vh;
  width: auto;
  font-family: Oswald, Helvetica;
}
  .page--home{
    background-color: #EEAA7B;
    text-align: center;
  }
    .page--home .jumbotron{
      background: #EEAA7B;
    }
    .page--home .intro{
      font-family: Helvetica;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
      display:none;
      border-top: solid 2px;
    }
    .page--home .intro p{
      background-color: rgba(239,239,239, .6);
    }

  .page--work{
    background-color: #66B9BF;
    padding: 10px;
  }

  .page--contact{
    background-color: #fffffe;
    padding: 10px;
  }

  #work .boxes li{
    list-style-type: none;
  }

    #work .boxes li.right-boxes{
      float: right;
    }
    #work .boxes li.left-boxes{
      float: left;
    }
      #work .boxes .box {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        margin-top: 15px;
        opacity: 0;
      }

      #work .boxes .box img{
        height: 100px;
        width: auto;
      }

      #react-box{
        border-radius: 100%;
      }
      #react-box img{
        margin-left: -45px;
      }
      #vue-box{
        background-color: #2F2F2F;
        border-radius: 100%;
      }
      #vue-box img{
        margin-top: 5px;
      }

      #css3-box img{
        margin-left: 15px;
      }

      #nodejs-box img{

      }

     .right-boxes .box#nodejs-box{
        width: 100px;
        height: auto;
        padding-top: 20px;
        margin-left: 30px;
      }
      .right-boxes .box#nodejs-box img{
        width: 100px;
        height: auto;
      }
      .right-boxes .box#jquery-box{
        width: 150px;
        height: auto;
        padding-top: 50px;
      }
      .right-boxes .box#jquery-box img{
        width: 150px;
        height: auto;
      }
  #contact .container{

    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px){
    .glyphicon.glyphicon-circle-arrow-down{
      font-size: 30px;
    }

    #contact form input,
    #contact form textarea{
      max-width: 600px;
    }
    #contact form textarea{
      min-height:200px;
    }

  }

  @media(max-width: 480px){
    #home,
    #home .jumbotron h1
    {
      margin-top: -10px;
    }

    #home .fa.fa-cog.fa-spin.fa-2x.fa-fw{
      margin-top: -8px;
    }
    #home .my-2{
      margin-top: 2px;
    }

    #home .intro{
      margin-top: 10px;
    }
    #home .intro p{
      font-size: 16px;

    }
    #contact .container{

      width: 100%;


    }




    #home .glyphicon.glyphicon-circle-arrow-down{
      font-size: 30px;
      margin-top: -65px;
    }

  }
